<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <a href="{% url 'saving.html'%}">Savings</a>
    <a href="{% url 'member.html'%}">Member</a>
    
    
    
</head>
<body>
    

    <section class="hero">
        <h1>WELCOME TO FLEXIBLE PLAN INVESTMENTS</h1>
        <h2>LOCATION</h2>
        <P>We are located at E Tower Bombo Road</P>
        <h2>OUR SERVICES</h2>
        <p>We provide quick loans to both the SACCO members and non members</p>
        <h2>CONTACT US ON</h2>
        <P>You can contact us on 0778056121 0752333654</P>
        
    </section>

    
            
        
            
        
    </section>
    
</body>
</html>